<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>Book Reservation - Welcome and choose a Book</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	        crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	        crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>

	<style type="text/css">
		body {
		  width: 800px;
		  margin: auto;
		  font-family: Arial, sans-serif;
		}
		h1 {
		  color: #333;
		}
		form {
		  margin-top: 20px;
		}
		.book-option {
		  margin: 10px 0;
		  padding: 10px;
		  border: 1px solid #ddd;
		  border-radius: 5px;
		}
		.book-option:hover {
		  background-color: #f5f5f5;
		}
	</style>
</head>
<body>
<header xmlns:th="http://www.thymeleaf.org">
	<h1>Welcome to our Book Reservation App</h1>
</header>
<main>
	<form action="/servlet/books" method="get">
		<label>Book title</label>
		<input type="text" name="bookTitleSearch">
		<label>Book rating</label>
		<input type="number" name="bookRatingSearch">

		<input type="submit" value="Search Book">
	</form>

	<form action="/bookReservation" method="POST">
		<h2>Choose a book:</h2>
		<!-- Display radio buttons for each book,
			 the value should be the book title
			 and the displayed text should be:
			 Title: <book_title>, Genre: <book_genre>, Rating: <average_rating> -->
		<th:block th:each="book : ${books}">
			<div style="display: flex; flex-direction: row; width: 100%; justify-content: center; align-items: center;">
				<label>
					<input type="radio" name="bookTitle" th:value="${book.title}">
					Title: <span th:text="${book.title}"></span>,
					Genre: <span th:text="${book.genre}"></span>,
					Rating: <span th:text="${book.averageRating}"></span>
				</label>
				<form th:action="@{'/books/delete/{id}' (id=${book.getId()})}"
				      th:method="DELETE">
					<button type="submit"
					        class="btn btn-sm btn-danger delete-product">
						<i class="fa fa-trash">Delete</i>
					</button>
				</form>
				<a th:href="@{'/books/edit-form/{id}' (id=${book.getId()})}"
				   class="btn btn-sm btn-info edit-product">
					<i class="fa">Edit</i>
				</a>
				<br>
			</div>
		</th:block>

		<h2>Enter your information:</h2>
		<label>Your Name:</label>
		<input type="text" name="readerName" required><br/>
		<label>Your Address:</label>
		<input type="text" name="readerAddress" required><br/>

		<h2>Choose number of copies:</h2>
		<input type="number" name="numCopies" min="1" max="10" required><br/>
		<br/>
		<input type="submit" value="Reserve Book">
	</form>
</main>
</body>
</html>